body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container,
.wrap {
  height: 100vh;
  width: 100%;
}
form {
  padding-right: 20px !important;
}
.row,
.collection {
  width: 100%;
}
.but {
  margin-bottom: 20px;
}
.clo {
  margin-left: -27px;
  z-index: 20;
  cursor: pointer;
}

.error {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slide-out a {
  color: white;
}

#slide-out {
  padding-top: 20px;
}

.coll-header {
  font-weight: bold;
}

@media (max-width: 768px) {
  .flex-s {
    display: flex;
    flex-direction: column;
  }
  .box-a {
    order: -1;
  }
}
@media (min-width: 768px) {
  .brand-logo {
    margin-left: 40px;
  }
}
